<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>
<body bgcolor="#E6E6FA">
    <h1>IRunes</h1>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        </ul>
    </div>
    <hr />
    <h1>Welcome to IRunes</h1>
    <h2><a href="/users/login">Login</a> if you have an account.</h2>
    <h2><a href="/users/register">Register</a> if you don't.</h2>
    <hr />
    <div>Copy Right &copy; <font color="blue"><strong>SoftBunny</strong></font> Design Studio. All right reserved.</div>
</body>
</html>