<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Create Track</title>
</head>
<body bgcolor="#E6E6FA">
    <h1>IRunes</h1>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/albums/all">Albums</a></li>
            <li><a href="/home/logout">Logout</a></li>
        </ul>
    </div>
    <hr />
    <h1>Create Track</h1>
    <form method="post" action="/tracks/create?albumId={{albumId}}">
        <div>
            Name:
            <input type="text" name="name" placeholder="Name..." />
        </div>
        <div>
            Link:
            <input type="text" name="link" placeholder="Link..." />
        </div>
        <div>
            Price:
            <input type="number" name="price" placeholder="Price..." />
        </div>
        <div>
            <input type="submit" value="Create" />
        </div>
    </form>
    <hr />
        <div>
            <a href="/albums/details?id={{albumId}}">Back To Album</a>
        </div>
    <hr />
    <div>Copy Right &copy; <font color="blue"><strong>SoftBunny</strong></font> Design Studio. All right reserved.</div>
</body>
</html>