<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/"><i class="fas fa-music"></i>  IRunes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-home"></i>  Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/User/Login"><i class="fas fa-user-check"></i>  Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/User/Register"><i class="fas fa-user-plus"></i>  Register</a>
            </li>
        </ul>
    </div>
</nav>
<hr style="height: 1px; background-color: green" />
<div class="jumbotron jumbotron-fluid bg-success">
    <div class="container">
        <h1 class="display-4 text-white">Welcome to IRunes</h1>
        <hr style="height: 1px; background-color: white" />
        <h3 class="text-white">
            <a class="bg-success btn-warning text-warning" href="/User/Login" role="button">Login</a> if you have an account.
        </h3>
        <h3 class="text-white">
            <a class="bg-success btn-warning text-warning" href="/User/Register" role="button">Register</a> if you don't.
        </h3>
    </div>
</div>