<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>
<body bgcolor="#E6E6FA">
    <h1>IRunes</h1>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/albums/all">Albums</a></li>
            <li><a href="/users/logout">Logout</a></li>
        </ul>
    </div>
    <hr />
    <h1>Welcome, {{username}}</h1>
    <h2>IRunes wishes you a fun experience.</h2>
    <hr />
    <div>Copy Right &copy; <font color="blue"><strong>SoftBunny</strong></font> Design Studio. All right reserved.</div>
</body>
</html>